doc/WSDL_ArtifactService/ArtifactService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. -->
<definitions targetNamespace="http://xmlns.sbb.ch/zvs/splp/artifact" name="ArtifactService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://xmlns.sbb.ch/zvs/splp/artifact" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://xmlns.sbb.ch/zvs/splp/artifact" schemaLocation="ArtifactService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="getArtifact">
    <part name="parameters" element="tns:getArtifact"/>
  </message>
  <message name="getArtifactResponse">
    <part name="parameters" element="tns:getArtifactResponse"/>
  </message>
  <message name="FaultMessage">
    <part name="fault" element="tns:faultMessage"/>
  </message>
  <message name="getArtifactID">
    <part name="parameters" element="tns:getArtifactID"/>
  </message>
  <message name="getArtifactIDResponse">
    <part name="parameters" element="tns:getArtifactIDResponse"/>
  </message>
  <portType name="ArtifactService">
    <operation name="getArtifact">
      <documentation>Diese Operation wird waehrend des SPLP-Logins aufgerufen. Sie bezieht saemtliche relevanten Benutzerinformationen aus dem Kundenverzeichnis, welche zum Kauf eines geschaeftlichen Billets benoetigt werden. Aufgerufen wird diese Operation bei jedem Login-Prozess am Webshop oder Mobile Shop.</documentation>
      <input wsam:Action="http://xmlns.sbb.ch/zvs/splp/artifact/ArtifactService/getArtifactRequest" message="tns:getArtifact"/>
      <output wsam:Action="http://xmlns.sbb.ch/zvs/splp/artifact/ArtifactService/getArtifactResponse" message="tns:getArtifactResponse"/>
      <fault message="tns:FaultMessage" name="FaultMessage" wsam:Action="http://xmlns.sbb.ch/zvs/splp/artifact/ArtifactService/getArtifact/Fault/FaultMessage"/>
    </operation>
    <operation name="getArtifactID">
      <documentation>Diese Operation wird verwendet, um die Verknuepfung eines SwissPass Logins mit einer Firmenidentitaet zu erstellen. Das Ziel der Operation ist, von Kundenseite einen eindeutigen Personen-Identifikator zu erhalten, welcher mit dem Vertrag und dem SwissPass-Login verknuepft werden kann.</documentation>
      <input wsam:Action="http://xmlns.sbb.ch/zvs/splp/artifact/ArtifactService/getArtifactIDRequest" message="tns:getArtifactID"/>
      <output wsam:Action="http://xmlns.sbb.ch/zvs/splp/artifact/ArtifactService/getArtifactIDResponse" message="tns:getArtifactIDResponse"/>
      <fault message="tns:FaultMessage" name="FaultMessage" wsam:Action="http://xmlns.sbb.ch/zvs/splp/artifact/ArtifactService/getArtifactID/Fault/FaultMessage"/>
    </operation>
  </portType>
  <binding name="ArtifactServiceV1PortBinding" type="tns:ArtifactService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getArtifact">
      <documentation>Diese Operation wird waehrend des SPLP-Logins aufgerufen. Sie bezieht saemtliche relevanten Benutzerinformationen aus dem Kundenverzeichnis, welche zum Kauf eines geschaeftlichen Billets benoetigt werden. Aufgerufen wird diese Operation bei jedem Login-Prozess am Webshop oder Mobile Shop.</documentation>
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="FaultMessage">
        <soap:fault name="FaultMessage" use="literal"/>
      </fault>
    </operation>
    <operation name="getArtifactID">
      <documentation>Diese Operation wird verwendet, um die Verknuepfung eines SwissPass Logins mit einer Firmenidentitaet zu erstellen. Das Ziel der Operation ist, von Kundenseite einen eindeutigen Personen-Identifikator zu erhalten, welcher mit dem Vertrag und dem SwissPass-Login verknuepft werden kann.</documentation>
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="FaultMessage">
        <soap:fault name="FaultMessage" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="ArtifactService">
    <port name="ArtifactServiceV1Port" binding="tns:ArtifactServiceV1PortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

