htdocs/SSO.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
    	xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"
	xmlns:s="http://www.w3.org/2001/XMLSchema" 
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
	xmlns:tns="https://mct.sbb.ch/SSO" 
	targetNamespace="https://mct.sbb.ch/SSO" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">

  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="https://mct.sbb.ch/SSO">
 
            <s:element name="ConfirmArtifact">
	         <s:complexType>
                    <s:sequence>
                	<s:element maxOccurs="1" minOccurs="1" name="artifact" type="s:string"/>
                    </s:sequence>
                 </s:complexType>
            </s:element>
           <s:element name="ConfirmArtifactResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element maxOccurs="1" minOccurs="0" name="ConfirmArtifactResult" type="tns:UserData"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="UserData">
                <s:sequence>
                    <s:element maxOccurs="1" minOccurs="0" name="name" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="vorname" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="username" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="email" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="rechnungsstelle" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="vertragsnummer" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="firmaID" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="sprache" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="anrede" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="kostenzuordnung" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="telefonNr" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="password" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="firmaBez" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="adressZusatz" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="strasse" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="plz" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="ort" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="kknummer" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="kkgueltigbis" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="kinhaber" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="kkfirma" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="kkinstitut" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="referenz" type="s:string"/>
                </s:sequence>
            </s:complexType>
        </s:schema>
    </wsdl:types>

    <wsdl:message name="ConfirmArtifactResponse">
        <wsdl:part element="tns:ConfirmArtifactResponse" name="parameter"/>
    </wsdl:message>
    <wsdl:message name="ConfirmArtifactRequest">
        <wsdl:part element="tns:ConfirmArtifact" name="parameter"/>
    </wsdl:message>

    <wsdl:portType name="SSOSoap">
        <wsdl:operation name="ConfirmArtifact">
            <wsdl:input message="tns:ConfirmArtifactRequest"/>
            <wsdl:output message="tns:ConfirmArtifactResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="SSOSoap" type="tns:SSOSoap">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="ConfirmArtifact">
            <soap:operation soapAction="https://mct.sbb.ch/SSO#ConfirmArtifact"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="SSO">
        <wsdl:port binding="tns:SSOSoap" name="SSOSoap">
            <soap:address location="https://ditdevsrv4.epfl.ch/cgi-bin/cff/test/SSO"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
